<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
      <h3>Menu</h3>
      <!-- <strong>BS</strong> -->
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let menu of navigation"  routerLink-active="active">
        <a routerLink="{{menu.anchor}}" *ngIf="menu.anchor">{{menu.name}}</a>
        <a href="{{menu.link}}" *ngIf="menu.link">{{menu.name}}</a>
        <ul class="collapse list-unstyled" *ngIf="menu.subnav!='';">
          <li ng-repeat="submenu in menu.subnav" routerLink-active="active">{{submenu.anchor}}
            <a routerLink="{{submenu.anchor}}" *ngIf="submenu.anchor">{{submenu.name}}</a>
            <a routerLink="{{submenu.link}}" *ngIf="submenu.link">{{submenu.name}}</a>
          </li>
        </ul>
    </li>
      <!-- <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fa fa-home"></i>
              Home
          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      </li> -->
  </ul>

</nav>